
<div class="container">
  <h1>My grades</h1>
  <div class="new-user"></div>

  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Division</th>
      <th>Teacher</th>
      <th>Grades</th>
    </tr>
    </thead>
    <tbody id="divisions">
    <%= render @divs %>
    </tbody>
  </table>
  
</div>